@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /*Cores*/
  --first-color: hsl(211, 55%, 40%);
  --first-color-light: hsl(252, 100%, 16.7%);
  --first-color-lighten: hsl(211, 100%, 23.1%);
  --gradient-color: linear-gradient(
    180deg,
    hsl(213, 50%, 25%),
    hsl(213, 50%, 15%)
  );
  --title-color: hsl(252, 100%, 16.7%);
  --text-color: hsl(0, 0%, 50%);
  --white-color: #fff;
  --body-color: hsl(0, 0%, 99%);

  /*fonte e tipografia*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}

/* BASE*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 70%;
  height: auto;
}

.container {
  height: 100vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}

.card {
  position: relative;
  width: 290px;
  background: var(--gradient-color);
  border-radius: 1rem;
  padding: 2.5rem 1.5rem 3.5rem;
  text-align: center;
  box-shadow: 0 8px 32px hsl(238, 98.5%, 26.3%);
}

.img_card {
  width: 90px;
}

.card_border {
  width: 124px;
  height: 124px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
}

.card_perfil {
  width: 104px;
  height: 104px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card_name,
.card_student {
  color: var(--white-color);
}

.card_name {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.card_student {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.info {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  padding: 2.5rem 1.5rem 3.3rem;
  border-radius: 1rem;
  clip-path: circle(16px at 250px 40px);
  transition: clip-path 0.4s ease-in-out;
}

.info_icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  display: inline-flex;
  padding: 0.25rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.info_img {
  width: 40px;
}

.info_border {
  width: 64px;
  height: 64px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
  transform: translateX(-3rem);
  transition: transform .8s;
}

.info_perfil {
  width: 52px;
  height: 52px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info_data {
  display: grid;
  row-gap: 0.25;
  margin-bottom: 1.7rem;
  transform: translateX(-4rem);
  transition: transform 1s;
}

.info_name {
  font-size: var (--var-font-size);
  color: var(--title-color);
}

.info_student,
.info_location {
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
}

.info_social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  transform: translateX(-5rem);
  transition: transform 1.2s;

}

.info_social-link {
  width: 32px;
  height: 32px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 0.3s;
}

.info_social-icon {
  display: inline-flex;
  background: var(--gradient-color);
  padding: 0.25rem;
  border-radius: 50%;
  color: var(--white-color);
  font-size: 1rem;
}

.info_social-link:hover {
  transform: translateY(-0.25rem);
}

.info:hover {
  clip-path: circle(75%);
}

.info:hover .info_icon {
  opacity: 0;
}


.info:hover .info_border,
.info:hover .info_data,
.info:hover .info_social{
  transform: translateX(0);
},